<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hiremotemeetcortana.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hiremotemeetcortana.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HiRemoteMeetCortana</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HiRemoteMeetCortana</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HiRemoteMeetCortanaContext" Order="1" Enabled="True">
          <Destination Path="Data Source=uuq699dwgk.database.windows.net;Initial Catalog=HiRemoteMeetCortana_db;Persist Security Info=True;User ID=HiRemoteMeetCortana@uuq699dwgk;Password=TomJoris2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebService.Infrastructure.Context.HiRemoteMeetCortanaContext, WebService" MigrationConfiguration="WebService.Migrations.Configuration, WebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HiRemoteMeetCortanaContext-Web.config Connection String">
      <ParameterValue>Data Source=uuq699dwgk.database.windows.net;Initial Catalog=HiRemoteMeetCortana_db;Persist Security Info=True;User ID=HiRemoteMeetCortana@uuq699dwgk;Password=TomJoris2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>